@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
--jaune:#FAB637;
--rouge:#FF4848;
--orange:#CC6119;
--gris:#ECEFF3;
--grisfonce:#232628;
--bleu:#6C98E1;
--titre:'Montserrat', sans-serif;
--texte:'Open Sans', sans-serif;
}

body { margin: 0; padding: 0; }

.responsive-nav {
    display: none;
}

.titres, .soustitres{
	font-family: var(--titre);
	font-weight: bold;
}

.titres{
	font-size: 1.2em;
}

.soustitres{
	font-size: 0.8em;
}

.corpstexte{
	font-family: var(--texte);
	font-size: 0.8em;
}

.infos, .titrepage{
    box-sizing: border-box;
    width: 100%;
    height:100px;
    background-color:var(--grisfonce);
    font-family: var(--titre);}

.infos{
	padding: 30px 50px 0 50px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.nom, .adresse, .tel, .horaire, .social {
    display: flex;
    color: white;
    font-size: 0.8em ;
}

.nom, .titrepage{
    color:white;
    font-weight: 700;
    font-size: 2em;
	white-space: nowrap;
}

#infostitre {
    color: var(--orange);
}

.fa-twitter, .fa-facebook-f{
    font-size: 20px;
    margin: 0 20px 0 20px;
}

.banniere{
	width: 100%;
	height:calc(100vh - 100px) ;
	background-image: url(images/vehicule1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.menu{
background-color: rgba(255, 255, 255, 0.5);
height: 50px;
width: 100%;
position: absolute;
box-sizing: border-box;
padding-right: 10%;
z-index: 100;
}

.menu a{
	text-decoration: none;
	font-family: var(--titre);
	font-size: 0.9em;
	font-weight: bold;
	color: black;
	float: right;
	padding: 0 20px 0 20px;
	line-height: 3.5;
}

.menu a:hover{
	background-color: var(--orange);
	color: white;
}

.titrepage{
position: absolute;
bottom: 0;
padding: 30px 50px 0px 10%;
}

.bienvenue {
	height: fit-content;
	width: 100%;
	padding: 50px 15% 50px 15%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}


.first, .second, .third, .fourth{
	width:500px;
	height:400px;
	flex-basis: 45%;
}

.first, .fourth {
	background-size: cover;
	background-repeat: no-repeat;
}



.first {
	background-image: url(images/clients.jpg);
}

.fourth {
	background-image: url(images/entretien.jpg);
}

.separateur {
	border-top: var(--gris);
	margin: 30px 0 30px 0;
}

.third ul {
	padding: 0;
	list-style: none;
}
  
.third ul li {
	line-height: 2;
}

.third ul li::before {
	/* content: "\2714" */
	content: "";
	height: 0.5rem;
	width: 0.5rem;
	display: block;
	float: left;
	margin-top: 0.5rem;
	margin-right: 1rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	background: url(images/checklist.png);
	background-size: cover;
	background-position: center;
}


.voussouhaitez, .clubauto{
height: 60vh;
width:100%;
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
}

.voussouhaitez{
	background-image: url(images/vente-location.jpg);
}

.louer, .acheter {
	width:30%;
	height: 250px;
	padding: 20px 40px;
	box-sizing: border-box
}

.louer{
	background-color: var(--jaune);
}

.acheter{
	background-color: rgba(255, 72, 72, 0.9);
}

.vehiculesrecents{
	width: calc(100% - 80px);
	height: 60vh;
	background-color: var(--grisfonce);
	padding: 40px;
}

.vehiculesrecents h1, .titrepourquoi{
	margin: 0;
	font-family: var(--titre);
	font-size: 2em;
	color: white;
	text-align: center;
}

.vehiculesrecents hr{
	border: 1px solid var(--orange);
	width: 75%;
	margin-top: 20px;
	margin-bottom: 50px;
}

.containervoitures{
	display: flex;
	justify-content: center;
	gap: 20px;
}

.voiture, .imagevoiture, .legende {
	width:300px;
}
.voiture{
	height:360px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.imagevoiture {
	height: 250px;
	background-image: url(images/vehicule2.jpg);
	background-size: cover;
}

.legende{
height: 100px;
background-color: #474d52;
}

.legende hr{
	border-color: var(--gris);
	width: 80%;
}

.legendecontainer, .argumentcontainer{
padding-top: 20px;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.legende h3, .prix, .prix2{
	margin: 0;
	font-family: var(--titre);
	font-weight: bold;
	font-size: 1em
}

.prix, .prix2{
	width:80px;
	background-color: var(--bleu);
	height: 40px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box
}

.prix{	
	padding:10px 0 0 0;
}

.oldprice{
	color:black!important;
	font-weight: 500;
	font-size: 0.8em;
	text-decoration: line-through;
}

.pourquoi{
	height: 50vh;
	padding: 40px;
	background-color: white!important;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.argument {
	width:300px;
	height: 300px;
	margin-top: 50px;
	display: flex;
}

.argument img{
	width: 60px;
	margin-right: 20px
}

.contacteznous{
	background-color: #6C98E1;
	border-radius: 3px;
	border: none;
	padding: 15px 30px;
	font-weight: bold;
	font-family: var(--titre);
	color: white;
}

.clubauto{
	background-image: url(images/vehicule3.jpg);
}

.clubautobox1{
	width: 35%!important;
	opacity: 0.9;
}

.clubautobox2{
	width: 20%;
	 opacity: 0;
}

footer{
	width: 100%;
	height:300px;
	background-color: var(--grisfonce);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footercontent{
	display: flex;
	justify-content: space-around;
}

.footerinfos{
	height: 150px;
	width : 200px;
	color:white;
}

.footerinfos img{
	filter: invert(100%);
}

.search {
	width: 100%;
	position: relative;
	display: flex;
	box-shadow: 0px 2px grey;
  }
  
  .searchTerm {
	width: 100%;
	padding: 5px;
	height: 23px;
	border-bottom : 1px solid grey;
  }
  
  .searchButton {
	width: 40px;
	height: 36px;
	background: #CC6119;
	border:none;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
  }

  .footerseparator{
	width:75%;
  }

  .copyright{
	text-align: center;
	color: grey;
  }
  
 



/* ------------------------------RESPONSIVE---------------------------- */


@import "compass/css3";

 @media only screen and (max-width: 1070px) { 
    
* {
	 box-sizing: border-box;
	 -webkit-box-sizing: border-box;
}
 .responsive-nav {
	 position: relative;
	 background-color: var(--grisfonce);
	 display: none;
	 width: 100%;
     font-family: var(--texte);
}
	 .responsive-nav {
		 display: block;
	}

.nom, .adresse,.horaire, .social, .menu, .banniere {
	display: none;
}

.infos{
	justify-content: left;
}

.bienvenue {
	height: fit-content;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.first, .second, .third, .fourth{
	width:500px;
	flex-basis: 100%;
}

.first, .fourth {
	height:200px;
}

.second, .third {
	height: fit-content;
}

.titres {
	font-size: 1.5em;
}

.soustitres{
	font-size: 1em;
}

.corpstexte{
	font-size: 1em;
}

.titrepage{
	position: relative;
	height: fit-content;
	white-space: break-spaces;
	text-align: center;
}

.voussouhaitez{
	height: fit-content;
	flex-direction: column;
}

.louer, .acheter {
	width:100%;
	height: fit-content;
	padding: 20px 100px;
	box-sizing: border-box
}

.voituretwo, .voiturethree{
	display: none;
}

.vehiculesrecents{
	width: 100%;
}

.pourquoi{
	height: fit-content;
}

.argumentcontainer{
	flex-direction: column;
}

.contacteznous{
	margin-top: 100px;
}

.clubautobox2{
	display: none;
}

.clubautobox1{
	width: 100%!important;
}

footer, .footerinfos{
	height: fit-content;
}

.footerinfos{
	width: 90%;
}

.footercontent{
	flex-direction: column;
	align-items: center;
}

.searchTerm{
	height: 36px;
}



}


/* ---------------------------RESPONSIVE NAVBAR------------------- */

 .responsive-nav:after {
	 display: block;
	 position: absolute;
	 top: 9px;
	 right: 20px;
	 width: 24px;
	 height: 4px;
	 overflow: hidden;
	 content: "";
	 border-top: 5px solid #6C98E1;
	 border-bottom: 14px double #6C98E1;
	 pointer-events: none;
}
 .responsive-nav .pull {
	 display: block;
	 width: 100%;
     height: 42px;
	 text-decoration: none;
	 font-size: 16px;
	 font-weight: 300;
	 color: #fff;
	 position: relative;
	 padding: 12px 20px 14px;
	 text-transform: uppercase;
}
 .responsive-nav > div {
	 display: none;
}
 .responsive-nav > div ul {
	 background-color: #353535;
	 position: relative;
	 width: 100%;
	 z-index: 100;
	 display: block;
	 list-style: none;
	 padding: 0;
	 margin: 0;
}
 .responsive-nav > div ul li {
	 float: left;
	 width: 100%;
	 text-align: center;
	 display: block;
	 border-bottom: 1px solid #262626;
}
 .responsive-nav > div ul li a {
	 display: inline-block;
	 width: 100%;
	 height: 100%;
	 padding: 9px;
	 color: #fff;
	 text-decoration: none;
}
 .clearfix:after {
	 visibility: hidden;
	 display: block;
	 content: "";
	 clear: both;
	 height: 0;}